h1, h2, h3, h4, p {
  font-family: 'Mukta Malar', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 45px;
}

h2 {
  font-weight: 700;
  font-size: 25px;
}

p {
  font-weight: 300;
  font-size: 12px;
  margin: 5px;
}



.hero {
  width:100%
}

.linkedin {
  color: blue;
}

.social {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
}


@media screen and (max-width: 1024px)
{
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .item1 {
    flex:0 0 100%;
    align-self: flex-start;
  }

  .item2 {
    flex:0 0 100%;
    text-align: center;
    align-self: flex-end;
    padding: 10px;
  }

  .bio-image {
    max-width: 100%;
  }

  .prezi-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .presentation{
    max-width: 100%;
  }
}

@media screen and (min-width: 1025px)
{
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }

.item1 {
  align-self: flex-start;
  }

.item2 {
  text-align: right;
  align-self: flex end
  padding: 10px;
  max-width: 100%;
  }

.bio-image {
  max-width: 100%;
}
.prezi-container {
  display: flex;
  }

.presentation{
  max-width: 100%;
  }
}
